.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0 10%;
  font-size: 15px;
}

.bar_left,
.bar_right,
.bar {
  display: flex;
  align-items: center;
}

.bar_left {
  padding-right: 50px;
}

.logo {
  width: 100px;
  margin-left: -30px;
  margin-right: 10px;
  color: rgb(0, 0, 255);
}

.logo1,
.logo2 {
  width: 20px;
  margin-right: 2px;
  margin-left: 20px;
}

.contact,
.telephone {
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.hotline,
.login {
  font-size: 15px;
}

.bar_right {
  padding-right: 10px;
}

.div1,
.div2 {
  margin-right: 10px;
}

.contact {
  border: 1px solid rgb(102, 255, 255);
  background-color: rgb(102, 255, 255);
  margin-left: 10px;
}

.telephone {
  border: 1px solid rgb(102, 255, 102);
  background-color: rgb(102, 255, 102);
  margin-left: 10px;
}

.StarGrab {
  font-size: 30px;
  color: rgb(0, 0, 255);
}
