.body {
  background-color: white;
  font-size: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 14px;
}

.bar1,
.bar2,
.bar3,
.bar4,
.bar5,
.bar6,
.bar7,
.bar8,
.bar9 {
  display: flex;
  justify-content: left;
  padding-top: 30px;
}

.logoFavorite1,
.logoFavorite2,
.logoFavorite3,
.logoFavorite4 {
  width: 150px;
  height: 100px;
}
.logoOutstanding1,
.logoOutstanding2,
.logoOutstanding3 {
  width: 200px;
  height: 100px;
}

.discountFavorite1,
.discountFavorite2,
.discountFavorite3,
.discountFavorite4 {
  display: flex;
}

.partFavorite,
.partOutstanding {
  display: flex;
}

.Favorite,
.Outstanding {
  margin-left: 120px;
}

.Favorite2,
.Favorite3,
.Favorite4,
.Outstanding2,
.Outstanding3 {
  padding-left: 10px;
}

.themeFavorite1 {
  background-color: rgb(198, 50, 78);
  border-radius: 10px;
}
.themeFavorite2 {
  background-color: rgb(158, 148, 124);
  border-radius: 10px;
}
.themeFavorite3 {
  background-color: rgb(76, 108, 140);
  border-radius: 10px;
}
.themeFavorite4 {
  background-color: rgb(211, 178, 145);
  border-radius: 10px;
}

.titleFavorite1,
.discountFavorite1,
.costFavorite1,
.titleFavorite2,
.discountFavorite2,
.costFavorite2,
.titleFavorite3,
.discountFavorite3,
.costFavorite3,
.titleFavorite4,
.discountFavorite4,
.costFavorite4 {
  color: white;
  justify-content: center;
  text-align: center;
}

.costFavorite1,
.costFavorite2,
.costFavorite3 {
  text-decoration-line: line-through;
}

.titleOutstanding1,
.titleOutstanding2,
.titleOutstanding3 {
  justify-content: center;
  text-align: center;
  font-weight: bold;
}
